@import 'tailwindcss';

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-primary-50: oklch(98% 0.009 263.68);
  --color-primary-50: oklch(98% 0.009 263.68);
  --color-primary-100: oklch(95% 0.024 263.68);
  --color-primary-200: oklch(90% 0.048 263.68);
  --color-primary-300: oklch(80% 0.1 263.68);
  --color-primary-400: oklch(70% 0.156 263.68);
  --color-primary-500: oklch(60% 0.217 263.68);
  --color-primary-600: oklch(50% 0.201 263.68);
  --color-primary-700: oklch(40% 0.127 263.68);
  --color-primary-800: oklch(30% 0.059 263.68);
  --color-primary-900: oklch(20% 0.047 263.68);

  --color-secondary-50: oklch(0.5452 0 0);
  --color-secondary-100: oklch(0 0 0);
  --color-secondary-200: oklch(1 0 0);
  --color-secondary-300: oklch(0.631 0.0379 261.88);
  --color-secondary-400: oklch(0.908 0.011 256.7);

  --color-custom-50: oklch(0.97 0.034 258);
  --color-custom-100: oklch(0.93 0.034 258);
  --color-custom-200: oklch(0.88 0.034 258);
  --color-custom-300: oklch(0.82 0.034 258);
  --color-custom-400: oklch(0.76 0.034 258);
  --color-custom-500: oklch(0.7 0.034 258); /* base #DCE0E7 */
  --color-custom-600: oklch(0.64 0.034 258);
  --color-custom-700: oklch(0.58 0.034 258);
  --color-custom-800: oklch(0.52 0.034 258);
  --color-custom-900: oklch(0.46 0.034 258);

  --color-style-500: oklch(0.9774 0.0042 236.5);
  --color-style-600: oklch(96.648% 0.004545 258.325);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}